@{
    ViewBag.Title = "Что нужно для мечты всей жизни";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron text-center">
    <h4 class="display-3">Вместе с <strong>AMM Car Dealer</strong> вы сможете воплотить мечту в реальность.<br /></h4>
    <h4 class="display-3">Достаточно выбрать свою <strong>машину мечты</strong> и ваша жизнь <strong>станет ярче</strong><br /></h4>
</div>
