@using CarDealer.Models.Purchase
@model IEnumerable<ShopBasketPos>

@{
    ViewBag.Title = "CartBrowse";
}
<h2>Просмотр корзины</h2>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Товар
        </th>
        <th>
            Цена
        </th>
        <th>
            Количество
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
</table>

<div class="row">
    <form action="/Home/Buy" class="col-md-2">
        <button type="submit">Оформить заказ</button>
    </form>

    <form action="/Home/Catalog?restoreFilter=true" class="col-md-2">
        <button type="submit">Обратно</button>
    </form>
</div>