@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Университетская площадь 1<br />
    Воронеж, Россия 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    XXX-XX-XX
</address>

<address>
    <strong>Support:</strong>   <a href="http://www.amm.vsu.ru/">www.amm.vsu.ru</a><br />
</address>