@{
    ViewBag.Title = "OrderStatus";
}
<h2>Статус заказа</h2>
@ViewBag.Message
<br>
@ViewBag.OrdID
<br>
@ViewBag.Mail;

<form action="/Home/Catalog/?restoreFilter=true">
    <button type="submit">Продолжить покупки</button>
</form>

